.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

#profileModal {
  color: black;
  height: 70%;
  width: 20%;
}

@media (min-width: 600px) {
  .Modal {
    width: 60%;
    left: 20%;
  }

  #profileModal {
    color: black;
    height: 67%;
    width: 65%;
    left: 15%;
    top: 15%;
  }

  .modalFormDiv {
    height: 32.5em;
  }

  .modalFormContent {
    height: 32em;
  }

  .modalForm {
    margin-left: 10em;
  }
}
