.messageModal {
  position: fixed;
  z-index: 500;
  width: 30%;
  border: 5px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  text-align: center;
}

.messageModalButton {
  width: 4em;
  margin-bottom: 0;
}

.modalError {
  background-color: #c73f35;
}

.modalSuccess {
  background-color: #33c14c;
}

@media (min-width: 600px) {
  .messageModal {
    width: 35%;
    left: 34%;
  }
}
